@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  color: #ffffff;
  background-color: #000;
}
#hero h3{
  
  background-color: transparent;
  
 
}
html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #ffffff;
  
}


h4 {
  font-size: 20px;
  color: #ffffff;
  
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #818181;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
  background-color: #000;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {

  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;

}

button.white {

  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;

}

body {
  width: 100%;
}

/*  Header start */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #000000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;


}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {

  text-decoration: none;
  font: 16px;
  color: #ffffff;

}

#navbar li a:hover,
#navbar li a.active {
  color: #ffffff;


}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #e8e8e8;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;


}

/* Home Page */

#hero {
  background-image: url("img/274962071_1816176895255138_8178914938640557626_n.jpg");
  height: 110vh;
  width: 100%;
  background-size: cover;
  background-position: 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;



}

#hero h4 {
  padding-bottom: 15px;

}

#hero h1 {
  color: #ffffff;
  background-color: transparent;
}

#hero button {
  background-image: url(img/button.png);
  background-color: transparent;
  color: #000000;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  opacity: 0.5;


}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 20px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;



}



#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #222;
  background-color: #fdfdfd;


}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  background-color: #000;


}

#product1 .pro {

  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;

}

#product1 .pro .des span {
  color: #000000;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #ffffff;
  font-size: 14px;

}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);


}

#product1 .pro .des h4 {

  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #6c6c6c;

}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #000000;
  font-weight: 500;
  color: #606060 ;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;




}

#maintenanceFrame {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.182), rgba(255, 255, 255, 0.105));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: fixed;
    top: 50%;
    left: 30%;
    width: 40%;
    transition: 0.5s;
    
  }
  p.frame {
    font-size: 16px;
    color: #000000;
    margin: 15px 0 20px 0;
    background: linear-gradient(135deg, rgb(255 255 255 / 0%), rgb(255 255 255 / 0%));
    
  }
  
  .frameContent {
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    
  }
  
  button.frame {
    padding: 10px;
    margin-top: -10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-bottom: 5px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/Picsart_22-06-17_00-12-03-033\ \(1\).jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;

}

#banner h4 {
  color: #fff;
  font-size: 16px;

}

#banner h2 {
  color: #fff;
  font-size: 16px;
  padding: 10px 0;

}

#banner h2 span {
  color: #ef3636;



}

#banner button:hover {
  background-color: #222;
  color: #fff;


}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/327377430_3297613903787010_5474523926882793209_n.jpg);
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url(img/344817152_1292122705070850_4280634256245317035_n.jpg);





}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;

}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {

  background-color: #222;
  border: 1px solid #222;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;


}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/274208724_1810300702509424_7929081207528167304_n.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url(img/199744998_1629601940579302_7367929273391670088_n.jpg);


}

#banner3 .banner-box3 {

  background-image: url(img/342513784_893127471775221_9038818211761200023_n.jpg);
}


#banner3 h2 {
  color: #ffffff;
  font-weight: 800;
  font-size: 15px;



}

#newsletter {


  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 20% 30%;

}

#newsletter h4 {

  font-size: 22px;
  font-weight: 700;
  color: white;

}

#newsletter p {

  font-size: 14px;
  font-weight: 600;
  color: #818ea0;


}

#newsletter p span {

  color: #ffbd27;


}

#newsletter .form {
  display: flex;
  width: 40%;


}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

#newsletter button {
  background-color: #222;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;



}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;


}

footer .logo {
  margin-bottom: 30px;


}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;


}

footer p {
  font-size: 13px;
  padding-bottom: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #818181;

  padding-bottom: 10px;
}

footer .follow i {
  color: #ffffff;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #222;
  border-radius: 6px;

}

footer .install img {
  margin: 10px 0 15px 0;


}

footer .follow i:hover,
footer a:hover {
  color: #000000;


}

/* Shop Page */
#page-header {
  background-image: url(img/Picsart_22-05-06_00-13-45-762.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;

}



#page-header h2,
page-header p {
  color: white;


}



#pagination {
  text-align: center;


}

#pagination a{
 text-decoration: none;
background-color:#1b1b1b ;
padding: 15px 20px;
border-radius: 4px;
color: #fff;
font-weight: 600;
margin-top: 5px;
}
#pagination a.p1{
 background-color: #5f5f5f;

}

#pagination a i{
font-size: 16px;
font-weight: 600;
background-color: transparent;



}
/* Single Product */


#prodetails{
display: flex;
margin-top: 20px;



}

#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px ;


}

.small-img-group{
display: flex;
justify-content: space-between;

}
.small-img-col{
flex-basis: 24%;
cursor: pointer ;


}
#prodetails .single-pro-details{
 
width: 50%;
padding-top: 30px;


}
#prodetails .single-pro-details h4{
 padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
 font-size: 26px;
}
#prodetails .single-pro-details select{
 display: block;
 padding: 5px 10px;
 margin-bottom: 10px;
}
#prodetails .single-pro-details input{
 width: 50px;
 height: 47px;
 padding-left: 10px;
 font-size: 16px;
 margin-right: 10px;


}

#prodetails .single-pro-details input:focus{
outline: none;



}
#prodetails .single-pro-details button{
  background-color: #252525;
  color: #fff;
  



}
#prodetails .single-pro-details span{

line-height: 25px;


}

/* Watches Page */
#page-header.watches-header{

  background-image: url(img/Picsart_22-06-17_00-12-03-033\ \(1\).jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;


  
}

/* Watches 2 */
#prodetails3{
  display: flex;
  margin-top: 20px;
  
  
  
  }
  
  #prodetails3 .single-pro-image3{
    width: 40%;
    margin-right: 50px ;
  
  
  }
  
  .small-img-group3{
  display: flex;
  justify-content: space-between;
  
  }
  .small-img-col3{
  flex-basis: 24%;
  cursor: pointer ;
  
  
  }
  #prodetails3 .single-pro-details3{
   
  width: 50%;
  padding-top: 30px;
  
  
  }
  #prodetails3 .single-pro-details3 h4{
   padding: 40px 0 20px 0;
  }
  #prodetails3 .single-pro-details3 h2{
   font-size: 26px;
  }
  #prodetails3 .single-pro-details3 select{
   display: block;
   padding: 5px 10px;
   margin-bottom: 10px;
  }
  #prodetails3 .single-pro-details3 input{
   width: 50px;
   height: 47px;
   padding-left: 10px;
   font-size: 16px;
   margin-right: 10px;
  
  
  }
  
  #prodetails3 .single-pro-details3 input:focus{
  outline: none;
  
  
  
  }
  #prodetails3 .single-pro-details3 button{
    background-color: #000000;
    color: #fff;
    
  
  
  
  }
  #prodetails3 .single-pro-details3 span{
  
  line-height: 25px;
  
  
  }
  
/* About Page */
#about-details {
width: 100%;
}
#page-header-about{

  background-image: url(img/abot.jpg);
  width: 100%;
  height: 50vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}


#about-details .txt {
  
    background-color: transparent;
    line-height: 23px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: "liberty-nusregular", sans-serif;
    color: #b7b7b7;
    position: relative;
}



/*Contact Page */
#page-header-contact{

    background-image: url(img/52995531_975788452627324_2017379162934738944_n.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#contact-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details{
width: 40%;

}
#contact-details .details span,
#form-details form span {
font-size: 12px;

}
#contact-details .details h2{
font-size: 26px;
line-height: 35px;
padding: 20px 0;

}
#contact-details .details h3 {
font-size: 16px;
padding-bottom: 15px;

}
#contact-details .details li {
list-style: none;
display: flex;
padding: 10px 0;


}
#contact-details .details li i{
font-size: 14px;
padding-right: 22px ;


}
#contact-details .details li p{

  margin: 0;
  font-size: 14px;
}
#contact-details .map{

width: 55%;
height: 400px;

}
#contact-details .map iframe{
width: 100%;
height: 100%;


}
#form-details {
display: flex;
justify-content: space-between;
margin: 30px;
padding: 80px;
}
#form-details form{

width: 65%;
display: flex;
flex-direction: column;
align-items: flex-start;
}
#form-details form input,
#form-details form textarea{
width: 100%;
padding: 12px 15px;
outline: none;
margin-bottom: 20px;
border: 1px solid #bababa;

}
#form-details form button{
  background-color: #000;
  color: #ffffff;
}
/* Cart Page */





/* Start Media Query */

@media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #000000;
    box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;


  }

  #mobile {
    display: flex;
    align-items: center;


  }

  .mobile {
    display: flex;
    align-items: center;

  }

  .mobile i {
    color: #ffffff;
    font-size: 24px;
    padding-left: 20px;



  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #ffffff;
    font-size: 24px;

  }

  #lg-bag {
    display: none;
  }

  #hero {

    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;

  }

  #product1 .pro-container {

    justify-content: center;

  }

  #product1 .pro {

    margin: 15px;

  }

  #banner {

    height: 20vh;

  }

  #sm-banner .banner-box {

    min-width: 100%;
    height: 30vh;

  }

  #banner3 {

    padding: 0 40px;
  }

  #banner3 .banner-box {

    width: 28%;

  }

  #newsletter .form {

    width: 70%;
  }

}

@media (max-width: 477px) {
  #header {
    padding: 10px 30px;


  }

  h1 {
    font-size: 20px;

  }

  h2 {
    font-size: 32px;

  }

  #hero {

    padding: 0 20px;
    background-position: 50%;
  }

  #product1 .pro {
    width: 100%;

  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {

    height: 20vh;

  }

  #sm-banner h2 {
    color: #fff;
    font-size: 14px;
    font-weight: 800;
  }

  #banner3 {
    padding: 20px;
  }

  .section-p1 {
    padding: 0 20px;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;


  }

  #newsletter .form {
    width: 100%;

  }
  #pagination {
  width: 70%;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  justify-content: space-evenly;
}

 /*Watches*/
 #prodetails3 .single-pro-image3 {
  display: flex;
  flex-direction: column;
}
#prodetails3 .single-pro-image3 {
  display: flex;
  margin-top: 20px;
}

  /* Single Product */
  #prodetails {
    display: flex;
    flex-direction: column;
}
#prodetails .single-pro-image {
  width: 100%;
  margin-right: 0px;
}
#prodetails .single-pro-details {
  width: 100%;
  
}
#prodetails3 {
  display: flex;
  flex-direction: column;
}
#prodetails3 .single-pro-details3 {
  width: 100%;
  
}
.small-img-group3 {
  display: flex;
  justify-content: space-between;
}
#prodetails3 .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
/* Contact Page*/
#contact-details {
  flex-direction: column;
}
#contact-details .details {
  width: 100%;
  margin-bottom: 30px;
}
#contact-details .map {
  width: 100%;
  height: 400px;
}
#form-details {
margin: 10px;
padding: 30px 10px;
flex-wrap: wrap;

}


#form-details form {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Cart Page*/


/* About Page*/
#page-header-about {
  background-image: url(img/abot.jpg);
  width: 100%;
  height: 31vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

/* Shop Page*/
#maintenanceFrame {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.182), rgba(255, 255, 255, 0.105));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  position: fixed;
  top: 50%;
  left: 5%;
  width: 90%;
  transition: 0.5s;
}

.frameContent {
  text-align: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
p.frame {
  font-size: 16px;
  color: #000000;
  margin: 15px 0 20px 0;
  background: linear-gradient(135deg, rgb(255 255 255 / 0%), rgb(255 255 255 / 0%));
  
}

.hidden {
  display: none;
}

}
